<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/templates/static/style.css">
<link rel="stylesheet" href="/templates/static/profile.css">
<link rel="stylesheet" href="/templates/static/home.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-theme-l1">Muslimania! </a>

    <a href="{% url 'profiles' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Profiles</a>
    <a href="/stories/books" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Stories</a>

    <a href="{% url 'games' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Games</a>
    <a href="{% url 'info' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Info</a>   
    
    {% if user.is_active %}
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-theme-l1 w3-right">Logout! </a>
    <a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-theme-l1 w3-right">{{user}}! </a>
    {% else %}
    <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-theme-l1 w3-right">Login! </a>
    {% endif %}

    {% block search %}
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white w3-right">Search</a>
    {% endblock %}

  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'home' %}">Home</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'profiles' %}">Profiles</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/stories/books">Stories</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'games' %}">Games</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'info' %}">Info</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-open w3-container">
      <!-- Page Container -->
      <div class="w3-content w3-margin-top" style="max-width:1400px;">
    
        <!-- Right Column -->
        <div class="w3-open w3-center">

          {% block filters %}
          {% endblock %}

          {% if messages %}
          <ul class="messages" style="list-style-type:none;">
            {% for message in messages %}
            <li {%if message.tags %}class="{{message.tags}}"{% endif%}>{{message}}</li>
            {% endfor %}
          </ul>
          {%endif%}

          {% block content %}
          {% endblock %}

        <!-- End Right Column -->
        </div>
  
      <!-- End Page Container -->
      </div>
    </div>
  </div>

<!-- END MAIN -->
</div>




{% block Pagination%}
{% endblock%}

  <footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by <a href="#" target="_blank">abderoofyt</a></p>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
