{% extends "base.html" %}

{% block content%}
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          {% load static %}
          <img src="{% static 'IMG-20191029-WA0000_zPtgGI1.jpg' %}" style="width:100%" height="320" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>{{data.name}}</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>age</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{data.ethnicity}}</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{data.location}}</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{data.job}}</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal">
          </i>Links</b></p>

          <p><a href="#">Adobe Photoshop</a></p>
          <p><a href="#">Adobe</a></p>
          <p><a href="#">Photoshop</a></p>
          <br>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal">
          </i>Family</b></p>

          <p></p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">Brother</div>
          </div>
          <p></p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
              <div class="w3-center w3-text-white">Sister</div>
            </div>
          </div>
          <p></p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">Father</div>
          </div>
          <p></p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%;color:black">Mother</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal">
          </i>Family</b></p>

          <p>Mother</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:10px;width:100%;"></div>
          </div>
          <p>Father</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:10px;width:0%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>{{data.name}}e</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
      </div>

      {% include "book.html" %}

      {% include "book.html" with about=authors %}
    

    <!-- End Right Column -->
    <div class="w3-button">
      <form action="update">
          <input type="submit" value="update">
      </form>
    </div>
    <div class="w3-button">
      <form action="delete">
        <input type="submit" value="delete">
      </form>
    </div>
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
    </div>
  </div>
  

<!-- END MAIN -->
</div>


{% endblock %}