{% extends "base.html" %}


{% block Sidebar%}
{% endblock %}

{% block content %}

<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"><a href="/users/profile_list_view/{{data.id}}"></i>{{ data.name }}</a></h2>
  <div class="w3-container">
    <h2>Books by Publisher {{publisher}}</h2>
        <ul>
            {% for book in object_list %}
            <li><a href="{% url 'book-detail' book.id %}">{{ book.id }}</a></li>
            <li>{{ book.title }}</li>
            <li>{{ book.authors }}</li>
            <li>{{ book.publication_date }}</li>
        </br>
            {% endfor %}
        </ul>
  </div>
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"><a href="/users/profile_list_view/{{data.id}}"></i>{{ data.name }}</a></h2>
</div>

{% endblock %}

{% block Pagination%}
{% endblock %}
