{% extends "base.html" %}


{% block Sidebar%}
{% endblock %}

{% block content %}

<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"><a href="/users/profile_list_view/{{data.id}}"></i>{{ data.name }}</a></h2>
    <h1 id="register" class="w3-center">Register</h1>
    <p>Please, sign up using the following form:</p>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% for form in user_form %}
          <div class="w3-open w3-padding-16">
            {{ form }}
            {{ form.label }}
          </div>
        {% endfor %}
        <button type="submit" class="w3-btn w3-center">Create</button>
        <p>Already have an account? <a href='{% url 'login' %}'> Sign In</a></p>
    
    </form>
    
  </div>
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"><a href="/users/profile_list_view/{{data.id}}"></i>{{ data.name }}</a></h2>
</div>

{% endblock %}

{% block Pagination%}
{% endblock %}
