{% extends "base.html" %}


{% block Sidebar%}
{% endblock %}

{% block content %}

<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"><a href="/users/profile_list_view/{{data.id}}"></i>{{ data.name }}</a></h2>
  <div class="w3-container">
        {% for book in book_list %}
        <h2>{{book.title }}</h2>
        <h4>{{book.subtitle}}</h4>
            <ul>
                <li>{{ book.authors }}</li>
                <li>{{ book.publication_date }}</li>
                <p> {{ book.story }} </p>

                {% for books in book.chapters.all %}
                  <p> {{ books.chapter_no }} : {{ books.chapter_name }}</p>

                  <div class="w3-button">
                    <form action="/stories/books/{{books.id}}/chapter_update">
                        <input type="submit" value="update">
                    </form>
                  </div>
                
                  <div class="w3-button">
                    <form action="/stories/books/{{books.id}}/chapter_delete">
                      <input type="submit" value="delete">
                    </form>
                  </div>

                  <p> {{ books.text }}</p>
                {% endfor %}
        </br>
            {% endfor %}
        </ul>

        {% comment %} <div class="w3-center w3-padding-32">
          <form action="{% url 'chapters_create' %}">
            <input class="w3-button" type="submit" value="+">
          </form> {% endcomment %}

          <form action="{% url 'chapter_create' %}">
            <input class="w3-button" type="submit" value="create chapter">
          </form>
        </div>
        
        
    
  </div>

  <!-- End Right Column -->
  {% if user.is_active %}


  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"><a href="/users/profile_list_view/{{data.id}}"></i>{{ data.name }}</a></h2>
</div>
{% endif %}


{% endblock %}

{% block Pagination%}
{% endblock %}


