{% extends "base.html" %}

{% block filters %}
{% endblock %}

{% block content %}
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="#" alt="People" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Profile</b></p>
        <p>Profiles are about People, prophets and famous figures.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="#" alt="Story" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Stories</b></p>
        <p>Stories, Books and information about people or from people.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="#" alt="Game" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Games</b></p>
        <p>You can play games. If you signed in you can track your games and progress.</p>
      </div>
    </div>
  </div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Add Profiles</h1>
      <p>You can add Profiles, of people, prophets or famous people. If you signed in.</p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Add Stories</h1>
      <p>You can add Stories, Books and Novels, about or from people. If signed in.</p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Add Games</h1>
      <p>You can add your own words to games or you can send request for type of games you want to add. If signed in.</p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
    </div>
  </div>
  
  {% endblock %}